body {
    font-family: Arial;
    margin: 40px;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

form input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}